footer {
    background-color: #2C343E;
}

.footer__img {
    padding: 47px ;
}

.footer__list {
    list-style: none;
    display: flex;
    padding: 40px;
    margin-left: -727px;
}

.footer__item {
    margin-left: 33px;
}

.footer__link {
    color: #83888F;
    font-family: "Barlow";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
    letter-spacing: 0.923px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__img2 {
    padding: 47px;
    margin-left: -436px;
}