.nav__img {
    width: 236px;
    height: 26px;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__text {
    color: #83888F;
    font-family: "Barlow";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
    letter-spacing: 0.923px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 33px;
}

